*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
}
.padre{
    display: flex; 
    flex-flow: column nowrap;
}
    .header{
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: #643843 ;
            display: flex;
            flex-flow: row nowrap;
        }
            .logo{
                background: #C88EA7;
                flex: 1 1 auto; 
            }
            .inicio{
                background: #C88EA7;
                flex: 5 1 auto; 

            }
            .contacto{
                background: #C88EA7;
                flex: 1 1 auto; 
            }
        .textoprincipal{
            background: #d15166;
        }
            .texto{
                background: #FFD3B0;
            }
    .section{
        background: #000;
        display: flex;
    }
        .articulos{
            background:#9384D1;
            flex: 2 1 auto; 
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                background:#ECC9EE;
                flex: 1 1 40%;
            }
            .info{
                background: #654E92;
                flex: 1 1 100%;
            }
        .aside{
            background:#FF6969 ;
            flex: 1 1 auto;
        }
            .something{
                background: #ADE4DB;
            }
    .footer{
        background: #000;
    }
        .pie{
            background: #4C4C6D;
        } 
@media only screen and (max-width: 800px){
    .section{
        flex-direction: column; 
        background:#F7E1AE ;
    }
    
}
@media only screen and (max-width: 600px){
    .menu{
        flex-direction: column;
    }
    .section{
        flex-direction: column; 
        background:#F7E1AE ;
    }
        .articulos{
            flex-direction: column;
        }
}